
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.form-wrapper {
  background-color: #000;
  display: flex;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.input-label{
  left: 0;
  width: fit-content;
}